@{
    ViewBag.Title = "Tiny Warehouse";
}

<div class="jumbotron">
    <h1>Tiny Warehouse</h1>
    <p class="lead">Welcome to Tiny Warehouse inventory management application. You can navigate to different areas below or on top.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Inventory</h2>
        <p>
            Here you can find the list of parts in inventory.
        </p>
        <p>@Html.ActionLink("Inventory »", "Inventory", "Home")</p>
    </div>
    <div class="col-sm-4">
        <h2>Receiving</h2>
        <p>
            Here you can receive new parts to the inventory.
        </p>
        <p>@Html.ActionLink("Receiving »", "Receiving", "Home")</p>
    </div>
    <div class="col-sm-4">
        <h2>Shipping</h2>
        <p>
            Here you can ship out anything from the inventory.
        </p>
        <p>@Html.ActionLink("Shipping »", "Shipping", "Home")</p>
    </div>
    <div class="col-sm-4">
        <h2>Parts</h2>
        <p>
            Here you can manage parts known by the warehouse.
        </p>
        <p>@Html.ActionLink("Parts »", "Parts", "Home")</p>
    </div>
    <div class="col-sm-4">
        <h2>Statistics</h2>
        <p>
            Here you can find some basic statistical data like inventory total weight and cost etc.
        </p>
        <p>@Html.ActionLink("Statistics »", "Statistics", "Home")</p>
    </div>
</div>
